    <section id="blog" class="blog blog-grid pt-100 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-3 text-center mb-60">
              <h2 class="heading__title">Our Latest News</h2>
              <p class="heading__desc">Follow our latest news and thoughts which focuses exclusively on design, art,
                vintage, and also our latest work updates.</p>
              <div class="divider__line"></div>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Blog Item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog__img">
                <a href="#">
                  <img src="assets/images/blog/grid/1.jpg" alt="blog image">
                </a>
              </div><!-- /.entry-img -->
              <div class="blog__content">
                <div class="blog__meta">
                  <div class="blog__meta-cat">
                    <a href="#">Business</a><a href="#">Tips</a>
                  </div><!-- /.blog-meta-cat -->
                  <span class="blog__meta-date">Jan 20, 2019</span>
                </div><!-- /.blog-meta -->
                <h4 class="blog__title"><a href="#">Four ways to cheer yourself up on Blue Monday!</a></h4>
                <p class="blog__desc">The third Monday of January is supposed to be day of year. Whether you
                  believe that or not....</p>
                <a href="#" class="btn btn__secondary btn__link">Read More</a>
              </div><!-- /.entry-content -->
            </div><!-- /.blog-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Blog Item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog__img">
                <a href="#">
                  <img src="assets/images/blog/grid/2.jpg" alt="blog image">
                </a>
              </div><!-- /.entry-img -->
              <div class="blog__content">
                <div class="blog__meta">
                  <div class="blog__meta-cat">
                    <a href="#">Modern</a><a href="#">Photography</a>
                  </div><!-- /.blog-meta-cat -->
                  <span class="blog__meta-date">Oct 18, 2017</span>
                </div><!-- /.blog-meta -->
                <h4 class="blog__title"><a href="#">Old cameras can capture images better than nowdays camera!</a></h4>
                <p class="blog__desc">Actually, Woodstock was not the first outdoor festival to feature multiple bands
                  over several days performing...</p>
                <a href="#" class="btn btn__secondary btn__link">Read More</a>
              </div><!-- /.entry-content -->
            </div><!-- /.blog-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Blog Item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog__img">
                <a href="#">
                  <img src="assets/images/blog/grid/3.jpg" alt="blog image">
                </a>
              </div><!-- /.entry-img -->
              <div class="blog__content">
                <div class="blog__meta">
                  <div class="blog__meta-cat">
                    <a href="#">Business</a><a href="#">Tips</a>
                  </div><!-- /.blog-meta-cat -->
                  <span class="blog__meta-date">Jan 20, 2019</span>
                </div><!-- /.blog-meta -->
                <h4 class="blog__title"><a href="#">New subway line has the most advanced technology world!</a></h4>
                <p class="blog__desc">That may be true, but today, almost half a century later, Gary Eagle says it was
                  only part of the story...</p>
                <a href="#" class="btn btn__secondary btn__link">Read More</a>
              </div><!-- /.entry-content -->
            </div><!-- /.blog-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.blog -->
