    <section id="clients2" class="clients clients-2 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-3 text-center mb-60">
              <h2 class="heading__title">Our Clients</h2>
              <p class="heading__desc">We've been lucky to collaborate with a long list of customers, located in and out
                of the country. Thanks to them we have grown as professionals.</p>
              <div class="divider__line"></div>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="carousel owl-carousel" data-slide="6" data-slide-md="4" data-slide-sm="3" data-autoplay="true"
              data-nav="false" data-dots="false" data-space="0" data-loop="true" data-speed="700">
              <div class="client">
                <a href="#"><img src="assets/images/clients/1.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/2.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/3.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/4.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/5.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/6.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/7.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="assets/images/clients/8.png" alt="client"></a>
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.clients 2 -->
