    <section id="cta1" class="cta cta-1 pt-60 pb-60 text-center-xs-sm">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-9">
            <h3 class="cta__title">Do you want to work with us?</h3>
            <p class="cta__desc">Developing a plan that is custom-built for your business.</p>
          </div><!-- /.col-lg-9 -->
          <div class="col-sm-12 col-md-4 col-lg-3 text-right text-center-xs-sm">
            <a href="#" class="btn btn__rounded btn__primary btn__hover3">Get Started</a>
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.cta 1 -->
