    <section id="features" class="features bg-gray pt-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-3 text-center mb-60">
              <h2 class="heading__title">Our Features</h2>
              <p class="heading__desc">Our agency can only be as strong as our people and because of this, our team have
                run their own businesses, designed game changing products.</p>
              <div class="divider__line"></div>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- feature item #1 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="feature-item">
              <span class="feature__subtitle">We are helpers</span>
              <h4 class="feature__title">Fully Responsive</h4>
              <div class="feature__img">
                <img src="assets/images/features/1.jpg" alt="feature img">
              </div><!-- /.feature-img -->
              <div class="feature__content">
                <p class="feature__desc">Fully responsive, retina ready & created for all types of devices.
                  York makes sure your website looks equally breathtaking when viewed.</p>
                <a href="#" class="btn btn__link">Read More</a>
              </div><!-- /.feature-content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-4 -->
          <!-- feature item #2 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="feature-item">
              <span class="feature__subtitle">Quick & smart</span>
              <h4 class="feature__title">Great Solutions</h4>
              <div class="feature__img">
                <img src="assets/images/features/2.jpg" alt="feature img">
              </div><!-- /.feature-img -->
              <div class="feature__content">
                <p class="feature__desc">Rounding up a bunch of specific designs and talking about the merits of each is
                  a perfect way to find the common ground. Collecting samples is great way.</p>
                <a href="#" class="btn btn__link">Read More</a>
              </div><!-- /.feature-content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-4 -->
          <!-- feature item #3 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="feature-item">
              <span class="feature__subtitle">Friendly support</span>
              <h4 class="feature__title">Support in person</h4>
              <div class="feature__img">
                <img src="assets/images/features/3.jpg" alt="feature img">
              </div><!-- /.feature-img -->
              <div class="feature__content">
                <p class="feature__desc">At its core, every brand has special things to reveal something that inspires
                  people. We are a branding agency, this plan if you create a portfolio.</p>
                <a href="#" class="btn btn__link">Read More</a>
              </div><!-- /.feature-content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Features -->
