<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link   rel="icon" href="{{ get_url(path="assets/images/favicon/favicon.png", cachebust=true) }}">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>    
	<meta name="author" content="{{ config.extra.author }}">
	<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700%7cSource+Sans+Pro:300,300i,400,400i,600,600i,700">
	<link rel="stylesheet" href="{{ get_url(path="assets/css/libraries.css", cachebust=true) }}"  />
	<link rel="stylesheet" href="{{ get_url(path="assets/css/style.css", cachebust=true) }}"  />
</head>