    <section id="projectsGallery" class="projects projects-gallery projects-gallery-link p-0">
      <div class="container-fluid col-padding-0">
        <div class="row">
          <!-- project item #1 -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="project-item">
              <div class="project__img">
                <img src="assets/images/portfolio/gallery/9.jpg" alt="project img">
                <div class="project__hover">
                  <div class="hover__content">
                    <div class="hover__content-inner">
                      <a href="#">
                        <div class="dotted__line"><span></span></div>
                      </a>
                    </div>
                  </div><!-- /.hover-content -->
                </div><!-- /.project-hover -->
              </div><!-- /.project-img -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.project-item -->
          <!-- project item #2 -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="project-item">
              <div class="project__img">
                <img src="assets/images/portfolio/gallery/10.jpg" alt="project img">
                <div class="project__hover">
                  <div class="hover__content">
                    <div class="hover__content-inner">
                      <a href="#">
                        <div class="dotted__line"><span></span></div>
                      </a>
                    </div>
                  </div><!-- /.hover-content -->
                </div><!-- /.project-hover -->
              </div><!-- /.project-img -->
            </div><!-- /.project-item -->
          </div><!-- /.col-lg-3 -->
          <!-- project item #3 -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="project-item">
              <div class="project__img">
                <img src="assets/images/portfolio/gallery/5.jpg" alt="project img">
                <div class="project__hover">
                  <div class="hover__content">
                    <div class="hover__content-inner">
                      <a href="#">
                        <div class="dotted__line"><span></span></div>
                      </a>
                    </div>
                  </div><!-- /.hover-content -->
                </div><!-- /.project-hover -->
              </div><!-- /.project-img -->
            </div><!-- /.project-item -->
          </div><!-- /.col-lg-3 -->
          <!-- project item #4 -->
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="project-item">
              <div class="project__img">
                <img src="assets/images/portfolio/gallery/4.jpg" alt="project img">
                <div class="project__hover">
                  <div class="hover__content">
                    <div class="hover__content-inner">
                      <a href="#">
                        <div class="dotted__line"><span></span></div>
                      </a>
                    </div>
                  </div><!-- /.hover-content -->
                </div><!-- /.project-hover -->
              </div><!-- /.project-img -->
            </div><!-- /.project-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.projects Gallery -->
