    <section id="slider2" class="slider slider-2">
      <div class="carousel owl-carousel carousel-arrows carousel-dots" data-slide="1" data-slide-md="1" data-slide-sm="1"
        data-autoplay="true" data-nav="true" data-dots="true" data-space="0" data-loop="true" data-speed="3000"
        data-transition="fade" data-animate-out="fadeOut" data-animate-in="fadeIn">
        <div class="slide-item align-v bg-overlay bg-overlay-2">
          <div class="bg-img"><img src="{{ get_url(path="assets/images/slider/1.jpg", cachebust=true) }}" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="slide__content">
                  <h2 class="slide__title color-white">Be Ready To <br>Change The World!</h2>
                  <p class="slide__desc color-white">Enjoy Building A Business Using York WordPress Theme</p>
                  <a href="#" class="btn btn__rounded btn__white mr-30">Get Started</a>
                  <a class="btn btn__video popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                    <div class="video__player">
                      <img src="assets/images/icons/player-dark.png" alt="player">
                    </div>Play Video!
                  </a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-lg-10 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v bg-overlay bg-overlay-2">
          <div class="bg-img"><img src="{{ get_url(path="assets/images/slider/4.jpg", cachebust=true) }}" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="slide__content">
                  <h2 class="slide__title color-white">We Provide You Extraordinary Solutions!</h2>
                  <p class="slide__desc color-white">Enjoy Building A Business Using York WordPress Theme</p>
                  <a href="#" class="btn btn__rounded btn__white">Get Started</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-lg-10 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->
