    <section id="team2" class="team team-2 text-center pt-100 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-3 mb-60">
              <h2 class="heading__title">Meet Our Creatives</h2>
              <p class="heading__desc">We love what we do and we do it with passion. We value the experince, the
                reformation of the message, and the smart incentives.</p>
              <div class="divider__line"></div>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Member #1 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="assets/images/team/1.jpg" alt="member img">
                <div class="member__hover">
                  <div class="member__content">
                    <div class="member__content-inner">
                      <div class="social__icons justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </div><!-- /.social-icons -->
                      <div class="member__info">
                        <h5 class="member__name">Ahmed Abd Alhaleem</h5>
                        <p class="member__desc">Graphic Designer</p>
                      </div><!-- /.member-info -->
                    </div><!-- /.member-content-inner -->
                  </div><!-- /.member-content -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #2 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="assets/images/team/2.jpg" alt="member img">
                <div class="member__hover">
                  <div class="member__content">
                    <div class="member__content-inner">
                      <div class="social__icons justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </div><!-- /.social-icons -->
                      <div class="member__info">
                        <h5 class="member__name">Ahmed Hassan</h5>
                        <p class="member__desc">Web Developer</p>
                      </div><!-- /.member-info -->
                    </div><!-- /.member-content-inner -->
                  </div><!-- /.member-content -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
          <!-- Member #3 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img">
                <img src="assets/images/team/3.jpg" alt="member img">
                <div class="member__hover">
                  <div class="member__content">
                    <div class="member__content-inner">
                      <div class="social__icons justify-content-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </div><!-- /.social-icons -->
                      <div class="member__info">
                        <h5 class="member__name">Mohamed Habaza</h5>
                        <p class="member__desc">Lead Dev Ops</p>
                      </div><!-- /.member-info -->
                    </div><!-- /.member-content-inner -->
                  </div><!-- /.member-content -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.team2 end  -->
