    <section id="testimonial2" class="testimonial testimonial-2 text-center pt-100 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading heading-4 text-center mb-60">
              <h2 class="heading__title">What Our Clients Say</h2>
              <div class="divider__line"></div>
            </div><!-- /.heading 6 -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="carousel owl-carousel carousel-dots" data-slide="3" data-slide-md="2" data-slide-sm="1"
              data-autoplay="true" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
              <!-- Testimonial #1 -->
              <div class=" testimonial-item">
                <div class="testimonial__content">
                  <div class="testimonial__thumb">
                    <img src="assets/images/testimonials/thumbs/2.png" alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <p class="testimonial__desc">York is the most impressive & great media agencies I've ever seen. From
                    the intuitive interface to the powerful tools they provide to me!.</p>
                </div><!-- /.testimonial-content -->
                <div class="testimonial__meta">
                  <h5 class="testimonial__meta-title">Fouad badawy</h5>
                  <p class="testimonial__meta-desc">Tie Labs Inc</p>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__icon"></div>
              </div><!-- /. testimonial-item -->
              <!-- Testimonial #2 -->
              <div class=" testimonial-item">
                <div class="testimonial__content">
                  <div class="testimonial__thumb">
                    <img src="assets/images/testimonials/thumbs/1.png" alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <p class="testimonial__desc">My portfolio was a simple task, but the persistence & determination of
                    the
                    team turned it into a great portfolio which make me happy!</p>
                </div><!-- /.testimonial-content -->
                <div class="testimonial__meta">
                  <h5 class="testimonial__meta-title">Mahmoud Baghagho</h5>
                  <p class="testimonial__meta-desc">7oroof Agency</p>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__icon"></div>
              </div><!-- /. testimonial-item -->
              <!-- Testimonial #3 -->
              <div class=" testimonial-item">
                <div class="testimonial__content">
                  <div class="testimonial__thumb">
                    <img src="assets/images/testimonials/thumbs/3.png" alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <p class="testimonial__desc">In my job as social media strategist, I've tried every product on the
                    market and when I came across York, I was blown away! immediately!</p>
                </div><!-- /.testimonial-content -->
                <div class="testimonial__meta">
                  <h5 class="testimonial__meta-title">Mostafa Mabrook</h5>
                  <p class="testimonial__meta-desc">code 125</p>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__icon"></div>
              </div><!-- /. testimonial-item -->
              <!-- Testimonial #4 -->
              <div class=" testimonial-item">
                <div class="testimonial__content">
                  <div class="testimonial__thumb">
                    <img src="assets/images/testimonials/thumbs/3.png" alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <p class="testimonial__desc">In my job as social media strategist, I've tried every product on the
                    market and when I came across York, I was blown away! immediately!</p>
                </div><!-- /.testimonial-content -->
                <div class="testimonial__meta">
                  <h5 class="testimonial__meta-title">Mostafa Mabrook</h5>
                  <p class="testimonial__meta-desc">code 125</p>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__icon"></div>
              </div><!-- /. testimonial-item -->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
