    <section id="video" class="video video-2 text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src="assets/images/banners/1.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading mb-40">
              <h3 class="heading__title color-white">We love what we do <br> and we do it with passion!</h3>
              <p class="heading__desc color-white">We're committed to providing our customers with a great investing
                experience, there are no fees for depositing or withdrawing from your account.</p>
            </div><!-- /.heading -->
            <div class="video__btn">
              <a class="popup-video" href="https://www.youtube.com/watch?4=&v=TKnufs85hXk">
                <span class="video__player-animation"></span>
                <div class="video__player">
                  <img src="assets/images/icons/player.png" alt="player">
                </div>
                <h6 class="video__player-title">Play Video!</h6>
              </a>
            </div><!-- /.video -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.video 2 -->
