    <section id="work-Process" class="work-Process p-0">
      <div class="container-fluid col-padding-0">
        <div class="row">
          <!-- process item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="process-item bg-gray equal-height">
              <span class="process__number">01.</span>
              <h5 class="process__title">Brainstorming</h5>
              <p class="process__desc">The first step is to take all the portfolio’s data & start thinking about it!
                Once
                you create, gather, or start manipulating data and files, they can quickly become disorganised.</p>
              <div class="dotted__line"><span></span></div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-3 -->
          <!-- process item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="process-item equal-height">
              <span class="process__number">02.</span>
              <h5 class="process__title">Prototype</h5>
              <p class="process__desc">To know everything about the product, customers & the competitors. Once you
                create, gather, or start manipulating data and files, they can quickly become</p>
              <div class="dotted__line"><span></span></div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-3 -->
          <!-- process item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="process-item bg-theme equal-height">
              <span class="process__number color-white">03.</span>
              <h5 class="process__title color-white">Design</h5>
              <p class="process__desc color-white">Start to work on the design taking in mind all the data you have
                collected. Once you create, gather, or start manipulating data and files, they can quickly become </p>
              <div class="dotted__line dotted__white"><span></span></div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-3 -->
          <!-- process item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="process-item bg-heading equal-height">
              <span class="process__number color-white">04.</span>
              <h5 class="process__title color-white">Evaluation</h5>
              <p class="process__desc color-white">Reach a conclusion from the investigations about the product you work
                on. Once you create, gather, or start manipulating data and files, they can quickly become </p>
              <div class="dotted__line dotted__white"><span></span></div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.work-Process -->
