{% extends "base.html" %}

{% block body %}
<body>
  <div class="wrapper">
		{% block header %}	 
   <header id="header2" class="header header-2 header-full">
      <div class="header__topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-9 col-lg-10">
              <ul class="contact__list list-unstyled">
                <li><i class="icon-map-pin"></i>16 J. Tongogara Ave, Cnr Harare St, Harare</li>
                <li><i class="icon-phone"></i>+263.8644218702</li>
                <li><i class="icon-document"></i>harareoncology@gmail.com</li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="social__icons justify-content-end">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-feed"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{{ get_url(path="assets/images/logo/logo-light.png") }}" class="logo-light" alt="logo">
            <img src="{{ get_url(path="assets/images/logo/logo-dark.png") }}" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
	  		  {% block nav %}
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav mr-auto ml-auto">
				<li class="nav__item">
					<a href="/" class=" nav__item-link ">Home</a>
				</li>
				<li class="nav__item">
					<a href="/about" class=" nav__item-link ">About Us</a>
				</li>
				<li class="nav__item">
					<a href="/services" class=" nav__item-link ">Services</a>
				</li>
				<li class="nav__item">
					<a href="/products" class=" nav__item-link ">Products</a>
				</li>
				<li class="nav__item">
					<a href="/csr" class=" nav__item-link ">CSR</a>
				</li>
				<li class="nav__item">
					<a href="/terms" class=" nav__item-link">Terms</a>
				</li>
            </ul>
          </div>
		  {% endblock nav %}
	          <div class="navbar-modules">
            <div class="modules__wrapper d-flex align-items-center">
              <a href="/contact" class="module__btn module__btn-contact">Contact</a>
              <a href="#" class="module__btn module__btn-search"><i class="york-search"></i></a>
              <a href="#" class="module__btn module__btn-sidenav"><i class="york-menu"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
	{% endblock header %}

    <section id="page-title" class="page-title page-title-layout2 text-center bg-overlay bg-overlay-2">
      <div class="bg-img"><img src="{{ get_url(path="assets/images/slider/1.jpg") }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <span class="pagetitle__subheading">{{ page.description }}</span>
            <h1 class="pagetitle__heading">{{ page.title }}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ page.permalink}}">{{ page.title }}</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
	
    <section id="contact1" class="contact p-0">
      <div class="container-fluid col-padding-0">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="contact__banner align-v-h bg-overlay">
              <div class="bg-img"><img src="{{ get_url(path="assets/images/banners/5.jpg") }}" alt="background"></div>
              <div class="heading text-center">
                <div class="heading__shape heading__shape-white"></div>
                <h2 class="heading__title color-white">Need Help?!! <br> Don’t Hesitate To Ask</h2>
                <div class="divider__line divider__white"></div>
              </div><!-- /.heading -->
            </div><!-- /.contact-banner -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6 bg-gray">
            <div class="inner-padding">
              <div class="heading">
                <h2 class="heading__title lh-1 mb-50">Write To Us</h2>
              </div><!-- /.heading -->
              <form>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Name"></div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="email" class="form-control" placeholder="Email"></div>
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Phone"></div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Subject"></div>
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group mb-30"><textarea class="form-control" placeholder="Message"></textarea></div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn__rounded btn__primary btn__hover3">Send Message</button>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact 1 -->
	{% include "_footer1.html" %}
    <button id="scrollTopBtn"><i class="arrow_up"></i></button>
	{% include "_module__search.html" %}
	{% include "_module__sidenav.html" %}
  </div>
	{% include "_scripts.html" %}
</body>
{% endblock body %}